{% extends "src/base.njk" %}

{% block head %}
    <title>Trámites Departamentales | {{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
        <div class="page-header breadcrumb-wrap px-4">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                    <span></span> <a href="/subcats/index.html" >Subcategoría</a>
                    <span></span> {{title}}
                </div>
            </div>
        </div>

        <div style="background-image:url('/assets/imgs/red/RECUADROS-32.png');background-size:cover">
            <div class="container py-4">
                <div class="archive-header-2 text-center">
                    <img class="img-header" src="/assets/imgs/red/elementos/iconos/ICONO-20.png">
                    <h4 class="display-4 " style="width:80%; margin:0 auto 50px auto">{{title}}
                    </h4>
                    <div class="d-flex justify-content-center">
                        <h5 class="display-9 mb-40 " style="width:75%">{{descripcion}}</h5>
                    </div>
                    {% set cuenta = 0 %}
                    {% for tramite in collections.tramites%}
                    {% if subcategorias.title == tramite.data.municipalidad%}
                    {% set cuenta = cuenta + 1 %}
                    {% endif %}
                    {% endfor %}
                    {% if cuenta == 1%}
                        <h6 class="text-body mb-40">La subcategoria cuenta con {{ cuenta }} trámite en el catálogo.</h6>
                    {% endif %}
                    {% if cuenta != 1%}
                        <h6 class="text-body mb-40">La subcategoria cuenta con {{ cuenta }} trámites en el catálogo.</h6>
                    {% endif %}
                    

                </div>
            </div>
        </div>

        <div class="page-content pt-50 px-4">
            <div class="container">
                

                <div class="row vendor-grid" id="servicios_part">
                {% for tramite in collections.tramites%}
                {% if subcategorias.title == tramite.data.municipalidad%}
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="vendor-wrap mb-40">
                            <div class="vendor-img-action-wrap">
                                <div class="vendor-img">
                                    <a href="{{tramite.url}}">
                                        <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONO-09.png" alt="" />
                                    </a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Trámite</span>
                                </div>
                            </div>
                            <div class="vendor-content-wrap">
                                <div class="d-flex justify-content-between align-items-end mb-30">
                                    <div>
                                        <h4 class="mb-5"><a href="{{tramite.url}}">{{tramite.data.title}}</a></h4>
                                    </div>
                                </div>
                                <div class="vendor-info mb-30">
                                    <ul class="contact-infor text-muted">
                                        <li><p>{{tramite.data.descripcion}}</p></li>
                                    </ul>
                                </div>
                                <a href="{{tramite.url}}" class="btn btn-xs">Ver Trámite <i class="fi-rs-arrow-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end vendor card-->
                
                {% endif %}
                {% endfor %}
                </div>

                <!--div class="row mt-40 mb-40 justify-content-center">
                    <div chlass="col-lg-6 col-sm-12" style="text-align:center!important">
                        <button id="vermas" onclick="showall()" class="btn" style="width:270px!important">Ver más</button>
                    </div>
                </div-->


            </div>
        </div>
{% endblock %}
