{% extends "src/base.njk" %}


{% block head %}
    <title>Catálogo de Trámites | {{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--LINK DE REFERENCIA PARA RATING https://www.youtube.com/watch?v=KdO9P8FnVN4&t=0s-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}

{% block content %}
    <div class="sidebar d-flex">
        <div><a class="btn" href="#">Evalua</a></div>
        <div><a class="btn" href="/quejas.html">Reporta</a></div>
    </div>
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                <span></span> {{categoria}}
                <span></span> {{subcategoria}}
                <span></span> {{title}}
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-11 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-3 primary-sidebar sticky-sidebar pt-50">
                            <div class="widget-area">
                                <div class="sidebar-widget widget-category-2 mb-50">
                                    <h5 class="section-title style-1 mb-30">Especificaciones</h5>
                                    <ul>
                                        <li>           
                                            <a href="{% for municipalidad in collections.municipalidades %}{% if municipalidad.data.title === municipalidad%}{{municipalidad.url}}{%endif%}{%endfor%}"> <img src="/assets/imgs/red/elementos/iconos/ICONO-20.png" alt="" />{{municipalidad}}</a>
                                        </li>
                                        <li>
                                            <a style="pointer-events:none" href="shop-grid-right.html"> <img src="/assets/imgs/red/elementos/iconos/ICONO-25.png" alt="" />Resultado: {{documento_obtenible}}</a>
                                        </li>
                                        <li>
                                            <a style="pointer-events:none" href="shop-grid-right.html"> <img src="/assets/imgs/red/elementos/iconos/ICONO-26.png" alt="" />Costo: {{tipo_moneda}} {{costo}} </a>
                                        </li>
                                        <li>
                                            <a style="pointer-events:none" href="shop-grid-right.html"> <img src="/assets/imgs/red/elementos/iconos/ICONO-27.png" alt="" />Tiempo de Respuesta: {{tiempo_de_respuesta}}</a>
                                        </li>
                                        <li>
                                            <a href="/quejas.html"> <img src="/assets/imgs/red/elementos/iconos/ICONO-28.png" alt="" />¿Tienes problemas con este trámite? Comunícate con nosotros</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product sidebar Widget -->
                                <div class="sidebar-widget widget-category-2 mb-50">
                                    <h5 class="section-title style-1 mb-30">Trámites Populares</h5>
                                    <ul>
                                        {% if collections.tramiteHighlight %}
                                        {% for tramite in collections.tramiteHighlight | limit(3) %}
                                        {% if tramite.url !== page.url%}
                                        <li>
                                            <a href="{{tramite.url}}"> {{tramite.data.title}}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                             
                                <!--POSIBLES ANUNCIOS-->
                                <!--div class="banner-img wow fadeIn mb-50 animated d-lg-block d-none">
                                    <img src="/assets/imgs/banner/banner-11.png" alt="" />
                                    <div class="banner-text">
                                        <span>Oganic</span>
                                        <h4>
                                            Save 17% <br />
                                            on <span class="text-brand">Oganic</span><br />
                                            Juice
                                        </h4>
                                    </div>
                                </div-->
                            </div>
                        </div>
                        
                        <div class="col-lg-9">
                            <div class="single-page pt-50 pl-30">
                                <div class="single-header style-2">
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-12 m-auto">
                                            <h6 class="mb-10"><a href="#">Trámite</a></h6>
                                            <h2 class="mb-10">{{title}}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-content">
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-12 m-auto texto-servicio">
                                            <p>{{descripcion | rmj |safe}}</p>
                                            <h4>Requerimientos</h4>
                                            <p>{{requisitos | rmj |safe}}</p>
                                            <h4>Pasos</h4>
                                            <p>{{instrucciones | rmj |safe}}</p>
                                            <h4>Ir al trámite en línea</h4>
                                            <a class="btn mb-20" href="{{servicio.url}}" target="_blank">Ver Trámite</a>
                                            <p>Información proporcionada por: <a href="{% for municipalidad in collections.municipalidades %}{% if municipalidad.data.title === municipalidad%}{{municipalidad.url}}{%endif%}{%endfor%}">{{municipalidad}}</a></p>
                                            <!--Comment form-->
                                            <div class="comment-form ">
                                                <!--DISQUSS-->
                                                
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
